<h1>
  List of Flowers
</h1>
<div>
  <div *ngFor="let flower of flowers" (click)="selectFlower(flower)">
    {{ flower.COMNAME }}
  </div>
</div>
<div>
  <input [(ngModel)]="selectedFlower.COMNAME" (value)="selectedFlower.COMNAME"/>
  <input [(ngModel)]="selectedFlower.GENUS" (value)="selectedFlower.GENUS"/>
  <input [(ngModel)]="selectedFlower.SPECIES" (value)="selectedFlower.SPECIES"/>
  <button (click)="updateFlower()">Save</button>
  <table>
    <tr *ngFor="let sighting of selectedFlower.SIGHTINGS">
      <td>{{ sighting.PERSON }}</td>
      <td>{{ sighting.LOCATION }}</td>
      <td>{{ sighting.SIGHTED }}</td>
    </tr>
  </table>
  <input [(ngModel)]="inputSighting.PERSON"/>
  <input [(ngModel)]="inputSighting.LOCATION"/>
  <input [(ngModel)]="inputSighting.SIGHTED"/>
  <button (click)="addSighting()">+</button>
</div>
